<%- include('partials/header'); -%>


<button><a href="/upload">Upload New File</a></button>

<ul class="filetemps">
  <% for(let i=0 ; i < userFiles.length ; i++){ %>

  <li class="filetemp">
    <img src="/fileTrans.png" alt="fileTrans icon">
    <h4><%= userFiles[i].originalName %></h4>
    <button onclick="downloadFile('<%= userFiles[i]._id %>')">Download</button>
    <button onclick="deleteFile('<%= userFiles[i]._id %>')">Delete</button>
    <button onclick="renameFile('<%= userFiles[i]._id %>')">Rename</button>
    <button onclick="shareFile('<%= userFiles[i]._id %>')">Share</button>
    <button onclick="shareLink('<%= userFiles[i]._id %>')">Create Link</button>
  </li>

  <% } %>
</ul>

<script>
 
  const downloadFile = async (fileId) => {
    window.location.href = `/download?fileId=${fileId}&userId=user._id`;
  }

  const deleteFile = async (fileId) => {
    const confirmDelete = confirm("move to recycle bin? file will be automatically deleted after 30 days.")
    if(confirmDelete)
    {
      await fetch(`/delete?fileId=${fileId}`,{
          method: 'GET',
          headers : {
              'content-type' : 'application/json'
          }
      })
      .then(response => {
          if(response.ok)
          {
              alert('File sucessfully Moved to Recycle Bin And will be deleted in 30 days');
              location.assign('/myuploads');
          } else {
          console.error('Error deleteing file:', response.statusText);
          }
      })
      .catch(error => {
          console.error('Error deleteing file:', error);
      });
    }
  }

  const renameFile = async (fileId) =>{
    const newName = prompt("Enter New name for the fime");
    console.log(newName);
    if(newName)
    {
      window.location.href = `/rename?fileId=${fileId}&newName=${newName}`;
    }
  }

  const shareFile = async (fileId) => {
  const userEmails = prompt("Enter email addresses of recipients (comma-separated):").split(',');
    if (userEmails) {
      await fetch(`/share/${fileId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userEmails: userEmails })
      })
        .then(response => {
          if (response.ok) {
            alert('File shared successfully');
          } else {
            console.error('Error sharing file:', response.statusText);
          }
        })
        .catch(error => {
          console.error('Error sharing file:', error);
        });
    }
  }


  const shareLink = async (fileId) => {
    const createLink = confirm('create a share link? Other people with link will be able to download the file.');
    if(createLink)
    {
      await fetch(`/sharelink/${fileId}`, {
        method: 'POST',
        headers: {
          'content-Type': 'application/json'
        }
      })
      .then(response => {
        if (response.ok) {
          return response.text(); 
        } else {
          throw new Error('Error sharing file: ' + response.statusText);
        }
      })
      .then(shareLink => {
        console.log(shareLink);
        alert('Sharable link for this file is: ' + shareLink);
      })
      .catch(error => {
        console.error('Error sharing file:', error);
      });
    }
  }


</script>

<%- include('partials/footer'); -%>