 <%- include('partials/header'); -%>

 <ul class="filetemps">
    <% for(let i=0 ; i < sharedFiles.length ; i++){ %>
  
    <li class="filetemp">
      <img src="/fileTrans.png" alt="fileTrans icon">
      <h4><%= sharedFiles[i].originalName %></h4>
      <h6>shared By: <%= sharedFiles[i].userId.email %></h6>
      <button onclick="downloadFile('<%= sharedFiles[i]._id %>')">Download</button>
      <button onclick="removeFile('<%= sharedFiles[i]._id %>')">Remove</button>
    </li>
  
    <% } %>
</ul>


<script>
  const downloadFile = async (fileId) => {
    window.location.href = `/download?fileId=${fileId}&userId=user._id`;
  }
  const removeFile = async (fileId) => {
    if(confirm('You will no longer be able to access this file. Remove from shared?'))
    {
      await fetch(`/remove-share?fileId=${fileId}`,{
          method: 'PUT',
          headers : {
              'content-type' : 'application/json'
          }
      })
      .then(response => {
          if(response.ok)
          {
              alert('File sucessfully Removed');
              location.assign('/shared');
          } else {
          console.error('Error Removeing file:', response.statusText);
          }
      })
      .catch(error => {
          console.error('Error Removeing file:', error);
      });
    }
  }
</script>

 <%- include('partials/footer'); -%>