<%- include('partials/header'); -%>

<ul class="filetemps">
    <% for(let i=0 ; i < sharedFiles.length ; i++){ %>
  
    <li class="filetemp">
      <img src="/fileTrans.png" alt="fileTrans icon">
      <h4><%= sharedFiles[i].originalName %></h4>
      <button onclick="stopShareing('<%= sharedFiles[i]._id %>')">Stop Sharing</button>
      <button onclick="sharedWith('<%= sharedFiles[i]._id %>')">Shared With</button>
    </li>
  
    <% } %>
</ul>

<%- include('partials/footer'); -%>